<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zs.xmx.hi.training">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTraining">
        <activity
            android:name=".viewmodel.ViewModelActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".livedata.LiveDataTestActivity" />
        <activity android:name=".livedata.LiveDataTestBActivity" />
        <activity android:name=".livedata.LiveDataTestCActivity" />
        <activity android:name=".lifecycle.LifecycleTestActivity" />
        <activity android:name=".drift.FloatViewActivity" />
        <activity android:name=".webview.H5Activity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".slide_conflict.SlideConflictActivity" />
        <activity android:name=".viewmodel.ViewModelActivity2" />
        <activity android:name=".flow.operator.FlowOperatorActivity" />
        <activity android:name=".flow.network.NetRequestActivity" />
        <activity android:name=".flow.FlowTestActivity" />
    </application>

</manifest>